.centrado{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  left:50%;
  transform:translateX(-50%);
}

.tcentrado{text-align: center;}

.negrita{font-weight: bold;}

.bhover:hover{background-color: #ffffff;}

.thover:hover{color: #ffffff !important;}

.cursor{cursor: pointer;}

.nosub{text-decoration: none;}

.normalwidth{width: 180px;}

.largewidth{width: 250px;}

.border-radius{border-radius: 20px;}